<div class="example-container">
    <form [formGroup]="form" (ngSubmit)="onsubmit()">
        <mat-form-field>
            <input matInput placeholder="cin" formControlName="cin">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="NOM" formControlName="nom">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="CV" formControlName="cv">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="PRENOM" formControlName="prenom">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="EMAIL" formControlName="email">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Photo" formControlName="photo">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="diplome" formControlName="diplome">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="dateNaissance" formControlName="dateNaissance">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="grade" formControlName="grade">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="etablissement" formControlName="etablissement">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="inscription" formControlName="inscription">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="encadrant" formControlName="encadrant">

        </mat-form-field>
        <br>





        <button type="submit">Submit</button>

    </form>





</div>