<div class="example-container">
    <form [formGroup]="form" (ngSubmit)="onsubmit()">
        <mat-form-field>
            <input matInput placeholder="titre" formControlName="titre">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="type" formControlName="type">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="lien" formControlName="lien">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Sourcepdf" formControlName="Sourcepdf">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="date" formControlName="date">

        </mat-form-field>
        <br>


        <button type="submit">Submit</button>

    </form>





</div>