<div fxLayout="column" fxLayoutAlign="center center" class="h-100-p">
    <mat-card style="max-width: 360px;">
        <mat-card-content class="pt-40">
            <div fxLayout="column" fxLayoutAlign="center center">
                <div>
                    <h1> Cours de Soir </h1>
                </div>
                <br>
                <div (click)="tryGoogleLogin()">
                    <span>Sign in with Google</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>